@import url('/resources/style/colors.css');

@font-face {
  font-family: 'Grandstander';
  src: url('/resources/Grandstander-VariableFont_wght.ttf');
}

:root {
  height: 100%;
}

body {
  background-color: var(--color-tertiary-4);
  color: var(--color-quaternary-0);
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  height: 100%;
}

h1 {
  font-family: 'Grandstander';
}

a.no-deco {
  text-decoration: none;
}

#container {
  text-align: center;
  align-items: flex-start;

  padding-left: 10rem;
  padding-right: 10rem;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#main {
  z-index: 5;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

/*
@media screen and (max-width: 1500px) {
  #container {
    padding-left: 1rem;
    padding-right: 1rem;

    display: grid;
    grid-template-columns: none;
    grid-template-rows: 40% 40% !important;
  }

  #main {
    display: none;
  }
}*/

.project {
  z-index: 500;
  width: 100%;
  transition: box-shadow 0.1s, border-radius 0.2s;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  height: auto;
  border-radius: 10px;
  position: relative;
}

.project-overlay {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  height: 5rem;

  transition: all 1s;
  background-image: linear-gradient(transparent, #000000df);
}

.project-overlay .project-name {
  font-size: 2rem;
  transition: all 1s;
  margin-bottom: 0;
}

.project-overlay .project-description {
  color: var(--color-quaternary-4);
  transition: all 1s;
}

.project:hover .project-overlay {
  height: 100%;
}

.project:hover .project-name {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--color-quaternary-0);
}

.project:hover .project-description {
  color: var(--color-quaternary-0);
}

.project:hover {
  box-shadow: #240c53 0 0 25px;
  border-radius: 20px;
}

.project:focus {
  box-shadow: var(--color-primary-0) 0 0 25px;
  outline: 0;
}

#dev-excuse {
  width: 20vw;
  margin: auto;
}

*::selection {
  background-color: initial;
  text-shadow: 0 0 5px #ff0000;
  color: #ffbab8;
}

.box {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: var(--color-tertiary-1);
  animation: box 25s linear infinite;
  bottom: -200px;
  transition: background-color 0.2s;
  z-index: 0;
}

.box:hover {
  background-color: var(--color-tertiary-2);
}

a {
  color: var(--color-quaternary-0);
}

a:hover {
  color: var(--color-quaternary-4);
}

#back {
  position: fixed;
  font-size: 5rem;
  text-decoration: none;
}

@keyframes box {
  0% {
    transform: translateY(0) rotate(0deg);
    border-radius: 10%;
    opacity: 0.6;
  }

  100% {
    transform: translateY(-120vh) rotate(720deg);
    border-radius: 20%;
    opacity: 0.4;
  }
}
