@import url("./colors.css");

body {
  background-color: var(--color-tertiary-4);
  color: var(--color-quaternary-0);
  margin: 0;

  overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0px;

  width: 100%;

  background-color: black;
  box-shadow: 2px 0 10px black;

  padding-top: 10px;
  padding-bottom: 10px;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

header a:hover,
header a:focus {
  color: #980000;
  outline: 0;
}

/* Main */
main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.features {
  display: flex;
  flex-direction: row;
}

.features div {
  margin: 1rem;
  text-align: center;
}

.installation li {
  list-style-type: decimal;
}

.img-viewer {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: black;
  z-index: 10000;

  display: flex;

  justify-content: center;
  align-items: center;
}

.img-viewer img {
  max-width: 90%;
  max-height: 90%;
}

/* Code */
code {
  border-radius: 5px;
  padding: 0px 2px 0px 2px;
  background-color: var(--color-secondary-4);
  cursor: pointer;
}

code::selection {
  text-shadow: initial;
  color: white;
}

code:hover {
  background-color: var(--color-secondary-2);
}

code:active {
  background-color: var(--color-secondary-1);
}